/* File name: App.module.css
Student Name: Daria Grigorovich
StudentID: 301384967
Date: September 26, 2024 */

@import "./vars.css";

.App {
  background-color: var(--color-bg);
  width: 100%;
  height: 100%;
  overflow: hidden;
};